<!-- Created by Nisarga Patel -->
<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>tech news pool</title>
      <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link rel="stylesheet" href="styles.css">
  <!-- Compiled and minified JavaScript -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="angular-local-storage.js"></script>
    <script src="data.js"></script>
</head>
<body>
   <div class="container">
   <h1>tech news pool</h1>
   <i class="chill-text">Updated Every 15 Minutes</i>
    <div ng-controller="FavoritesCtrl">
       <div class="row">
           <div class="col s12 m6">
            <label>Search: <input ng-model="searchText"></label>
            </div>
        </div>
        <a class="waves-effect waves-light btn blue darken-1" href="index.html">Main Page</a>
        <button class="waves-effect waves-light btn  red darken-3" style="float:right;" ng-click="clear()">Clear All</button><br>
        <span class="chill-text">{{results.length}} articles favorited</span><br>
<!--        <div class="row">-->
            <span>
                <div class="card" style="padding: 0.6em; width:200px; display:inline-block; margin: 0.5em;" ng-repeat="news in favorites | filter:searchText as results">
                    <a class="card-title" style="font-size:1.4em;" target="_blank" href="{{ news.url }}">{{news.title}}</a>
                    <div class="chill-text">
                    {{ news.src }}</div>
                    <button class="fav-button" ng-click="remove(news.url, update)">
                        <i class="material-icons">delete</i></button>
        </span>
<!--        </div>-->
    </div>
    
    </div>
    
</body>
</html>