<!-- Created by Nisarga Patel -->
<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>tech news pool</title>
      <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link rel="stylesheet" href="styles.css">
  <!-- Compiled and minified JavaScript -->
          
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="data.js"></script>
</head>
<body>
   <div class="container">
   <h1>tech news pool</h1>
   <i class="chill-text">Updated Every 15 Minutes</i>
    <div ng-controller="HackerNewsCtrl">
        <div class="row">
           <div class="col s12 m6">
            <label>Search: <input ng-model="searchText"></label>
            </div>
        </div>
        <span class="chill-text">{{results.length}} articles found</span><br>
<!--        <div class="row">-->
            <span>
                <div class="card" style="padding: 0.6em; width:200px; display:inline-block; margin: 0.5em;" ng-repeat="news in hackerNews | filter:searchText as results">
                    <a class="card-title" style="font-size:1.4em;" target="_blank" href="{{ news.news_headline.href }}">{{news.news_headline.text}}</a>
                    <div class="chill-text">
                    {{ news.src }}</div>
                </div>
        </span>
<!--        </div>-->
        <br>
    <span class="chill-text">Sources: </span>
    <span class="chill-text" ng-repeat="source in sources" class="display:inline;">{{ source.name }} | </span><br><br>
    </div>
    
    </div>
    
</body>
</html>